* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: black;
  }
  .name{
    position: relative;
    z-index: 2;
    color: #000000;
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  .wrapper {
    background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
    height: 38.5em;
    width:  38.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 7em;
  }
  .leaderboard{
    background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
    margin-top: 10%;
    border-radius: 5%;
    padding: 1%;
    box-shadow: 3px 2px 3px #000000 ;
    text-align:center;
  }
  .simon {
    height: 31.25em;
    width: 31.25em;
    background: radial-gradient(#3a3838, #000000);
    border-radius: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
  }

  .color-part {
    height: 13.12em;
    width: 13.12em;
    position: absolute;
    cursor: pointer;
  }
  .color1 {
    background-color: #027802;
    border-radius: 13em 0 0 0;
    top: 1.87em;
    left: 1.87em;
  }
  .color2 {
    background-color: #950303;
    border-radius: 0 13em 0 0;
    top: 1.87em;
    right: 1.87em;
  }
  .color3 {
    background-color: #01018a;
    bottom: 1.87em;
    right: 1.87em;
    border-radius: 0 0 13em 0;
  }
  .color4 {
    background-color: #919102;
    bottom: 1.87em;
    left: 1.87em;
    border-radius: 0 0 0 13em;
  }
  .simon:before {
    position: absolute;
    content: "";
    background-color: #101010;
    box-shadow: 0 0 0 0.4em #212121;
    height: 13.75em;
    width: 13.75em;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
  }
  #count {
    background-color: #ffffff;
    font-size: 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 2em;
    width: 3em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
  }
  .hide {
    display: none;
  }
  .container {
    background: radial-gradient(#ff5d71, #EB3349);
    animation : fadeIn 1s ease-in-out;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    
  }
  
  .container button {
    background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
    font-size: 1.2em;
    border: none;
    outline: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .container button:hover{
    box-shadow: 3px 2px 2px #000000 ;
  }
  #restart , #Pause{
    z-index: 3;
    position: relative;
  }
  .container p {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 1em;
    z-index: 3;
    position: relative;
    left: 500px;
    top: -179px;
  }
  .container span {
    font-weight: 600;
  }

  .container select{
    margin-top : 1em;
    background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
    border: none;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000000 ;
    font-size : 1em;
  }

  .button-container {
    display: flex;
    padding-top: 1.5em;
    justify-content: center;
    gap: 5em;
    margin-top: 1.5em;
  }
  
  .button-container button {
    background: radial-gradient(#ff5d71, #EB3349);
    padding: 0.8em 1.5em;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .button-container button:hover {
    box-shadow: 3px 2px 2px #000000;
  }

  @media screen and (max-width: 600px) {
    body {
      font-size: 10px;
    }
    .wrapper {
      height: 35em;
      width: 35em;
    }
  }